<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quản Lý Danh Mục</title>

    <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./public/css/bootstrap-theme.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="./public/css/navbar.css">
    <link rel="stylesheet" href="./public/css/footer.css">
    <link rel="stylesheet" type="text/css" href="./public/css/infor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Navication bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="index.html">BOP Team</a>
            </div>
            <!--Right side on navication bar-->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact US</a></li>
                    <li><a href="signup.html">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="signin.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid" style="margin-top: 24px;">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="./public/img/infor/personal-icon.png" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            NTT
                        </div>
                        <div class="profile-usertitle-dob">
                            10/12/1996
                        </div>
                    </div>

                </div>

                <div class="panel panel-info class panel-personal">
                    <div class="panel-heading">
                        Quản trị
                    </div>
                    <div class="list-group">
                        <a href="quanlyyeucau.html" class="list-group-item">Duyệt Yêu Cầu</a>
                        <a href="quanlydanhmuc.html" class="list-group-item active">Danh sách danh muc</a>
                        <a href="quanlysanpham.html" class="list-group-item">Danh sách sản phẩm</a>
                        <a href="quanlynguoidung.html" class="list-group-item">Danh sách người dùng</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading ">
                            <div class="row">
                                <div class="col-md-7">
                                    <h4 class="pull-left"> <b>
					              		QUẢN LÝ DANH MỤC
					              	</b> </h4>
                                </div>
                                <div class="col-md-5 pull-right">
                                    <form class="form-vertical" role="search" method="get" action="">
                                        <div class="input-group">
                                            <input type="text" name="search-item" class="form-control" value="" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="dropdown">
                                        Sắp xếp:
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mới nhất <span class="caret" ></span></button>
                                        <ul class="dropdown-menu">
                                            <li class="active"><a href="#">Mới nhất</a></li>
                                            <li><a href="#">Cũ nhất</a></li>
                                            <li><a href="#">Theo ID</a></li>
                                            <li><a href="#">Theo Tên</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="table-responsive ">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr class="text-center">
                                            <th>ID</th>
                                            <th>NAME</th>
                                            <th>EDIT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Technology</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-success">
						                        	<i class="glyphicon glyphicon-pencil"></i>
						                        </button>
                                                <button type="button" class="btn btn-danger">
						                        	<i class="glyphicon glyphicon-trash"></i>
						                        </button>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Fashion</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-success">
						                        	<i class="glyphicon glyphicon-pencil"></i>
						                        </button>
                                                <button type="button" class="btn btn-danger">
						                        	<i class="glyphicon glyphicon-trash"></i>
						                        </button>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Houseware</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-success">
						                        	<i class="glyphicon glyphicon-pencil"></i>
						                        </button>
                                                <button type="button" class="btn btn-danger">
						                        	<i class="glyphicon glyphicon-trash"></i>
						                        </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class=" pull-right ">
                                <button type="button" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-plus-sign "></i>
						        </button>
                            </div>
                        </div>
                        <div class="panel-footer ">
                            <div class="row ">
                                <div class="col-md-12 ">
                                    <ul class="pagination hidden-xs pull-right ">
                                        <li class="active "><a href="# ">1</a></li>
                                        <li><a href="# ">2</a></li>
                                        <li><a href="# ">3</a></li>
                                        <li><a href="# ">4</a></li>
                                        <li><a href="# ">5</a></li>
                                    </ul>
                                    <ul class="pagination visible-xs pull-right ">
                                        <li><a href="# ">&laquo;</a></li>
                                        <li><a href="# ">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer-distributed ">
        <div class="footer-left ">
            <h3>BOP<span>Team</span></h3>
            <p class="footer-links ">
                <a href="# ">Home</a>
                <a href="# ">Blog</a>
                <a href="# ">Pricing</a>
                <a href="# ">About</a>
                <a href="# ">Faq</a>
                <a href="# ">Contact</a>
            </p>
            <p class="footer-company-name ">Bop Team &copy; 2017</p>
        </div>

        <div class="footer-center ">
            <div>
                <i class="fa fa-map-marker "></i>
                <p><span>69 Anonymous Street</span> Hanoi, Vietnam</p>
            </div>
            <div>
                <i class="fa fa-phone "></i>
                <p>+84 12 345 6789</p>
            </div>
            <div>
                <i class="fa fa-envelope "></i>
                <p><a href="mailto:support@company.com ">mail@bopteam.vn</a></p>
            </div>
        </div>
        <div class="footer-right ">
            <p class="footer-company-about ">
                <span>About Us</span> Hello, world! We are Bop Team.
            </p>
            <div class="footer-icons ">
                <a href="#facebook "><i class="fa fa-facebook "></i></a>
                <a href="#twitter "><i class="fa fa-twitter "></i></a>
                <a href="#google-plus "><i class="fa fa-google-plus "></i></a>
                <a href="#github "><i class="fa fa-github "></i></a>
            </div>
        </div>
    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript " src="./public/js/jquery-3.2.1.min.js "></script>
    <script type="text/javascript " src="./public/js/bootstrap.min.js "></script>
    <script type="text/javascript " src="./public/js/list_products_auction.js "></script>

</body>

</html>