.carousel {
    margin-top: 20px;
}

.item .thumb {
    width: 24%;
    cursor: pointer;
    float: left;
    margin-right: 5.40px;
}

.item .thumb img {
    width: 100%;
    margin: 2px;
}

.item img {
    width: 100%;
}