.mainbox {
    margin-top: 80px;
}

.panel-body {
    padding-top: 30px;
}

.input-group {
    margin-bottom: 20px
}

.form-group {
    margin-top: 10px;
}

.center block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}