<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title-full-infor">
				CHANGE PASSWORD
			</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" id="updateinformation" method="post">
				<div class="form-group">
					<label class="control-label col-md-3" for="password">Old password:</label>
					<div class="col-md-6">
						<input type="password" id="old-password" class="form-control" name="password" value="" disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3" for="password">New password:</label>
					<div class="col-md-6">
						<input type="password" id="new-password" class="form-control" name="newpassword" value="" disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3" for="password"> Retype new password:</label>
					<div class="col-md-6">
						<input type="password" id="confirm-password" class="form-control" name="confirmpassword" value="" disabled>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="col-md-6">
							<button type="button" class="btn btn-primary center-block" id="edit" onclick="fn_update()"><i class="glyphicon glyphicon-edit"></i> Edit</button>
						</div>
						<div class="col-md-6">
							<button type="submit" class="btn btn-success center-block" id="update" disabled><i class="glyphicon glyphicon-refresh"></i> Update</button>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</form>
		</div>
	</div>
</div>


{{#section 'script'}}
<script type="text/javascript">
	function fn_update() {
		$('#old-password').each(function () {
			if ($(this).attr('disabled')) {
				$(this).removeAttr('disabled');
			}
			else {
				$(this).attr({
					'disabled': 'disabled'
				});
			}
		});

		$('#new-password').each(function () {
			if ($(this).attr('disabled')) {
				$(this).removeAttr('disabled');
			}
			else {
				$(this).attr({
					'disabled': 'disabled'
				});
			}
		});

		$('#confirm-password').each(function () {
			if ($(this).attr('disabled')) {
				$(this).removeAttr('disabled');
			}
			else {
				$(this).attr({
					'disabled': 'disabled'
				});
			}
		});

		$("#update").removeAttr('disabled');
		if (document.getElementById("edit").textContent == " Edit") {
			document.getElementById("edit").innerHTML = '<i class="glyphicon glyphicon-edit"></i> Cancel';
		}
		else {
			document.getElementById("edit").innerHTML = '<i class="glyphicon glyphicon-edit"></i> Edit';
			update.setAttribute("disabled", "disabled");
			validator.resetForm();
		}
	};

	var validator = $('#updateinformation').validate({
		rules: {
			password: {
				required: true,
				minlength: 6
			},

			newpassword: {
				required: true,
				minlength: 6
			},

			confirmpassword: {
				equalTo: '#new-password',
			},
		},

		messages: {
			password: {
				required: 'Password is required field',
				minlength: 'Password must at least 6 characters'
			},
		},

		errorElement: 'span',
		errorClass: 'help-block',

		hightlight: function (element) {
			$(element).closest('.form-group')
				.addClass('.has-error');
		},

		success: function (label) {
			$(label).closest('.form-group')
				.removeClass('.has-error');

			label.remove();
		},
	});
</script>
{{/section}} {{#section 'profilemenu'}}
<li id="pro_1" class="">
	<a href="profile">
		<i class="glyphicon glyphicon-home"></i>
		Overview </a>
</li>
<li id="pro_3" class="">
	<a href="detail-feedback">
		<i class="glyphicon glyphicon-edit"></i>
		Detail Feedback </a>
</li>
<li id="pro_4" class="active">
	<a href="change-password">
		<i class="glyphicon glyphicon-lock"></i>
		Change Password </a>
</li>
{{#if user.type}} 
{{else}}
<li id="pro_2" class="active">
	<a href="upgrade-account">
            <i class="glyphicon glyphicon-cloud-upload"></i>
            Upgrade account </a>
</li>
{{/if}} 
{{/section}} 

{{#section 'auctionmenu'}}
<a href="products-auctioning" class="list-group-item">List products auctioning</a>
<a href="products-follows" class="list-group-item">List products following</a>
<a href="products-auctioned" class="list-group-item">List result products auctioned</a> 
{{#if user.type}}
<a href="products-selling" class="list-group-item">List products selling</a> 
<a href="products-bought" class="list-group-item">List products bought</a>
<a href="/product/add" class="list-group-item">Add product</a>
{{else}} 
{{/if}} 
{{/section}}

