<div class="container">
			<div class="row">
	 			<div class="col-md-12">
	 				<article class="blog-post">
	 					<div class="blog-post-body">
                <h1>{{Message}}</h1>

	 							<div class="row" style="margin-top: 10px">
							         <div class="col-md-8 col-md-offset-2">
							            <div class="modal-content">
								            <div class="modal-body">
								                <div class="row">
								                    <div class="col-sm-4 col-md-3">
								                    	<center>
								                        <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/18813871_1089114904555281_7614980301191685326_n.jpg?oh=14b89b8fe09abf51efe39f99542d8792&oe=59A9DF81" width="200" height="200" border="0" align="center" class="img-circle" />
								                        <h4> 1412689</h4>
								                        <h3 class="media-heading">Hoàng Thị Bích Vân <small>HCMUS</small></h3>
								                        </center>
								                    </div>
								                    <div class="col-sm-8 col-md-9" style="margin-top: 20px">

								   		                <p><strong>Skills: </strong>
		 							                        <span class="label label-warning">HTML/CSS/Bootstrap</span>
		 							                        <span class="label label-success">Database/SQL</span>
		 							                        <span class="label label-info">Nodejs</span>
		 							                        <span class="label label-danger">Android</span><h4></p>
		 							                     <hr>
			 							                <center>
						 							  		<p class="text-left"><strong>About me: </strong><br>
			 							                        Là người ham học giỏi, thích âm nhạc, tự nhận mình là người học khá chậm, nhưng luôn cố gắng siêng năng để bù cái ngu!!!<br>
			 							                        Ahihi!</p>
			 							                </center>
											        </div>
								             	</div>
							                </div>
							            </div>
							        </div>
								</div>

								<div class="row" style="margin-top: 30px">
							         <div class="col-md-offset-2 col-md-8">
							            <div class="modal-content">
								            <div class="modal-body">
								                <div class="row">
								                    <div class="col-sm-4 col-md-3">
								                    	<center>
								                        <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/16507834_1326418107404309_132878998874623707_n.jpg?oh=6f17afa0b9bf4de8f4e5bd1eda6992ed&oe=59DFB549" width="200" height="200" border="0" align="center" class="img-circle" />
								                        <h4> 1412624</h4>
								                        <h3 class="media-heading">Nguyễn Tú <small>HCMUS</small></h3>
								                        </center>
								                    </div>
								                    <div class="col-sm-8 col-md-9" style="margin-top: 20px">

								   		                <p><strong>Skills: </strong>
		 							                        <span class="label label-warning">HTML/CSS</span>
		 							                        <span class="label label-info">Database/SQL</span>
		 							                        <span class="label label-info">Microsoft Office</span>
		 							                        <span class="label label-success">Bootstrap</span><h4></p>
		 							                     <hr>
			 							                <center>
						 							  		                    <p class="text-left"><strong>About me: </strong><br>
			 							                        Điền mô Tả vào đây nha ^^</p>
			 							                </center>
											        </div>
								             	</div>
							                </div>
							            </div>
							        </div>
								</div>
						</div>

						<div class="blog-post-body row" style="margin-top: 20px">
	 						<h1>My school</h1>
	 						<center>
	 							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6343350735315!2d106.67983811435032!3d10.7626390923309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6pu!5e0!3m2!1svi!2s!4v1491842553036" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	 						</center>

 						</div>
					</article>
				</div>
			</div>
 		</div>
