<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title-full-infor">
			CHANGE PASSWORD
			</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" id="updateinformation" method="post">
				<div class="form-group">
					<label class="control-label col-md-3" for="password">Old password:</label>
					<div class="col-md-6">
						<input type="password" class="form-control" name="password" value = "" disabled>
					</div>
				</div>				
				<div class="form-group">
					<label class="control-label col-md-3" for="password">New password:</label>
					<div class="col-md-6">
						<input type="password" class="form-control" name="newpassword" id="cfpwd" value = "" disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3" for="password"> Retype new password:</label>
					<div class="col-md-6">
						<input type="password" class="form-control" name="confirmpassword"  value = "" disabled> 
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="col-md-6">
							<button type="button" class="btn btn-primary center-block" id="edit" onclick="fn_update()"><i class="glyphicon glyphicon-edit"></i>    Edit</button>
						</div>
						<div class="col-md-6">
							<button type="submit" class="btn btn-success center-block" id="update" disabled><i class="glyphicon glyphicon-refresh"></i> Update</button>
						</div>					</div>
					<div class="col-md-4"></div>
				</div>
			</form>																					
		</div>
	</div>
</div>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript">
	function fn_update(){
		$('input').each(function() {
            if ($(this).attr('disabled')) {
                $(this).removeAttr('disabled');
            }
            else {
                $(this).attr({
                    'disabled': 'disabled'
                });
            }
        });
		$("#update").removeAttr('disabled');
		if (document.getElementById("edit").textContent == " Edit")
		{
			document.getElementById("edit").innerHTML = '<i class="glyphicon glyphicon-edit"></i> Cancel';
		}
		else{
			document.getElementById("edit").innerHTML = '<i class="glyphicon glyphicon-edit"></i> Edit';
			update.setAttribute("disabled", "disabled");
			validator.resetForm();
		}
	};

	var validator = $('#updateinformation').validate({
		rules: {
			password: {
				required: true,
				minlength: 6
			},

			newpassword: {
				required: true, 
				minlength: 6
			},

			confirmpassword: {
				equalTo: '#cfpwd',
			},
		},

		messages: {
			password: {
				required: 'Password is required field',
				minlength: 'Password must at least 6 characters'
			},
		},

		errorElement: 'span',
		errorClass: 'help-block',

		hightlight: function(element) {
			$(element).closest('.form-group')
				.addClass('.has-error');
		},

		success: function(label) {
			$(label).closest('.form-group')
				.removeClass('.has-error');

			label.remove();
		},
    });
</script>


{{#section 'profilemenu'}}
	<li id="pro_1" class="">
		<a href="information">
		<i class="glyphicon glyphicon-home"></i>
		Overview </a>
	</li>
	<li id="pro_3" class="">
		<a href="detail_feedback">
		<i class="glyphicon glyphicon-edit"></i>
		Detail Feedback </a>
	</li>
	<li id="pro_4" class="active">
		<a href="change_password">
		<i class="glyphicon glyphicon-lock"></i>
		Change Password </a>
	</li>
{{/section}}

{{#section 'auctionmenu'}}
    <a href="list_products_auctioned" class="list-group-item">List products auctioning</a>
    <a href="list_products_follows" class="list-group-item">List products following</a>
    <a href="list_products_auction" class="list-group-item">List result products auctioned</a>
{{/section}}
