



{{#section 'profilemenu'}}
	<li id="pro_1" class="">
		<a href="information">
		<i class="glyphicon glyphicon-home"></i>
		Overview </a>
	</li>
	<li id="pro_2">
		<a href="shipping_address">
		<i class="glyphicon glyphicon-send"></i>
		Shipping Address </a>
	</li>
	<li id="pro_3" class="active">
		<a href="detail_feedback">
		<i class="glyphicon glyphicon-edit"></i>
		Detail Feedback </a>
	</li>
{{/section}}

{{#section 'auctionmenu'}}
    <a href="list_products_auctioned" class="list-group-item">List products auctioning</a>
    <a href="list_products_follows" class="list-group-item">List products following</a>
    <a href="list_products_auction" class="list-group-item">List result products auctioned</a>
{{/section}}


