<div class="container-fluid"  style="margin-top: 24px;">
	<div class="row">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="img/infor/personal-icon.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Marcus Doe
					</div>
					<div class="profile-usertitle-dob">
						10/12/1996
					</div>
				</div>
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/information">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="/shipping_address">
							<i class="glyphicon glyphicon-send"></i>
							Shipping Address </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>

			<div class="panel panel-info class panel-personal">
				<div class="panel-heading">
					Quản lý đấu giá / mua hàng
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">Danh sách đang đăng đấu giá</a>
					<a href="/list_products_auctioned" class="list-group-item active">Danh sách đang đấu giá</a>
					<a href="/list_products_follows" class="list-group-item">Danh sách theo dõi</a>
					<a href="/list_products_auction" class="list-group-item ">Danh sách kết quả đấu giá</a>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<div class="container-fluid">
					<div class="panel panel-info">
						<div class="panel-heading ">
								<div class="row">
										<div class="col-md-7">
												<h4 class="pull-left"> <b>
													QUẢN LÝ DANH SÁCH SẢN PHẨM ĐANG ĐẤU GIÁ
												</b> </h4>
										</div>
										<div class="col-md-5 pull-right">
												<form class="form-vertical" role="search" method="get" action="">
														<div class="input-group">
																<input type="text" name="search-item" class="form-control" value="" placeholder="Search">
																<div class="input-group-btn">
																		<button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
																</div>
														</div>
												</form>
										</div>
								</div>
						</div>
							<div class="panel-body">
									<div class="row">
										<div class="col col-md-6">
								<div class="dropdown">
									Sắp xếp:
										<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mới nhất <span class="caret" ></span></button>
										<ul class="dropdown-menu">
											<li class="active"><a href="#">Mới nhất</a></li>
											<li><a href="#">Cũ nhất</a></li>
											<li><a href="#">Giá từ thấp đến cao</a></li>
											<li><a href="#">Giá từ cao đến thấp</a></li>
										</ul>
								</div>
										</div>
										<!-- <div class="col col-md-6">
															<div class="pull-right">
																<div class="btn-group" data-toggle="buttons">
																		<label class="btn btn-default btn-filter" data-target="all">
																					<input type="radio" name="options" id="option1" autocomplete="off"> All
																			</label>
																			<label class="btn btn-info btn-filter active" data-target="success">
																					<input type="radio" name="options" id="option2" autocomplete="off" checked>
																					Pending
																			</label>
																			<label class="btn btn-warning btn-filter" data-target="fail">
																					<input type="radio" name="options" id="option3" autocomplete="off"> Ending
																			</label>
																	</div>
															</div>
													</div> -->
									</div>
									<hr>
									<div class="table-responsive " >
							<table class="table table-striped table-bordered table-hover">
													<thead>
														<tr class="text-center">
																<th>Tên sản phẩm</th>
																<th>Thông tin sản phẩm</th>
																<th>Thời hạn</th>
																<th>Giá hiện tại</th>
																<th>Người đấu giá cao nhất</th>
																<th>Đấu giá</th>
														</tr>
													</thead>
													<tbody>
																<tr>
																<td> <a href="detail_of_product.html">Tên sản phẩm</a></td>
																<td>Mô tả chi tiết thông tin sản phẩm</td>
																<td>29/07/2017</td>
																<td>10000 $ </td>
																<td><a href="#">Nguyễn Quốc Anh Tú</a></td>
																<td class="text-center">
																	<button type="button" class="btn btn-success">
																		<i class="glyphicon glyphicon-shopping-cart"></i>
																	</button>
															</td>
																</tr>
																<tr>
																<td><a href="detail_of_product.html">Tên sản phẩm</a></td>
																<td>Mô tả chi tiết thông tin sản phẩm</td>
																<td>31/05/2017</td>
																<td>10000 $ </td>
																<td><a href="#">Hoàng Thái Thiên Văn</a></td>
																<td class="text-center">
																	<button type="button" class="btn btn-success">
																		<i class="glyphicon glyphicon-shopping-cart"></i>
																	</button>
															</td>
																</tr>
																<tr>
																<td><a href="detail_of_product.html">Tên sản phẩm</a></td>
																<td>Mô tả chi tiết thông tin sản phẩm</td>
																<td>29/06/2017</td>
																<td>10000 $ </td>
																<td><a href="#">Huỳnh Anh Vinh</a></td>
																<td class="text-center">
																	<button type="button" class="btn btn-success">
																		<i class="glyphicon glyphicon-shopping-cart"></i>
																	</button>
															</td>
																</tr>
																<tr>
																<td><a href="detail_of_product.html">Tên sản phẩm</a></td>
																<td>Mô tả chi tiết thông tin sản phẩm</td>
																<td>29/05/2017</td>
																<td>10000 $ </td>
																<td><a href="#">Huỳnh Anh Dự</a></td>
																<td class="text-center">
																	<button type="button" class="btn btn-success">
																		<i class="glyphicon glyphicon-shopping-cart"></i>
																	</button>
															</td>
																</tr>
																<tr>
																<td><a href="detail_of_product.html">Tên sản phẩm</a></td>
																<td>Mô tả chi tiết thông tin sản phẩm</td>
																<td>29/06/2017</td>
																<td>10000 $ </td>
																<td><a href="#">Lê Minh Tú</a></td>
																<td class="text-center">
																	<button type="button" class="btn btn-success">
																		<i class="glyphicon glyphicon-shopping-cart"></i>
																	</button>
															</td>
																</tr>

													</tbody>
											</table>
								</div>
							</div>
							<div class="panel-footer" >
										<div class="row">
											<div class="col-md-12">
													<ul class="pagination hidden-xs pull-right ">
															<li class="active"><a href="#">1</a></li>
															<li><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">5</a></li>
													</ul>
													<ul class="pagination visible-xs pull-right">
															<li><a href="#">&laquo;</a></li>
															<li><a href="#">&raquo;</a></li>
													</ul>
												</div>
										</div>
								</div>
				</div>
			</div>
		</div>
	</div>
</div>
